.moduleLoaderContainer {
   overflow: auto;
    display: grid;
    grid-template-rows: 73px 1fr;
}

.moduleLoaderHeaderContainer {
    display: flex;
    justify-content: space-between;
}

.moduleLoaderHeaderAccount {
    padding: 10px;
}

.moduleLoaderHeader {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
}

.moduleLoaderHeader img{
    height: 60px;
}

.usernameContainer {
    display: flex;
    justify-content: end;
}

.moduleLoaderHeaderAccount > .lwmButton {
    padding: 0;
}