.scheduleWizardContainer {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scheduleWizardContainer > div {
    padding: 10px;
    height: auto;
}

.scheduleWizardFooter {
    display: flex;
    justify-self: end;
    gap: 10px;
}

.scheduleWizardBody {
    display: flex;
    flex-direction: column;
    gap: 30px;
}