.timetableTableContainer {
    display: flex;
    width: auto;
}

.timetableTableEntrySection {
    
}

.timetableTableSection {
    display: flex;
    width: 100%;
}

.timetableTable {
    border: 1px solid black;
    width: 100%;
}