.panelOuterContainer {
    display: grid;
    grid-template-rows: 100px 70px auto;
    border-radius: 5px;
    min-height: 100%;
    background: linear-gradient(180deg, rgba(247 242 242 / 10%) 0%, rgba(247 242 242 / 15%) 55%, rgba(247 242 242 / 20%) 100%);
}

.panelUserContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: rgba(247 242 242 / 20%) 100%;
}

.footerOption {
    width: 100;
}

.footerOption:hover {
    border-bottom: solid 1px lightblue;
}

.panelContentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.panelContentContainer > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panelHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(247 242 242 / 20%) 100%;
}

.panelHeaderLogo {
    border-radius: 100px;
    overflow: hidden; 
    width: 70px;
    height: 70px;
    border: 2px solid rgba(247 242 242 / 70%);
    
}

.panelHeaderLogo > img {
   width: 90px;
   height: 80px;
}

.usernameContainer {
    font-size: 17px;
    font-weight: 500;
}