.gridContent {
    padding: 5px 5px 5px 0px;
    border-bottom: 0px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow: auto;
}

.gridContentHeader {
    display: grid; 
    grid-template-columns: 300px;
    grid-auto-columns: minmax(150px, 1fr);
}

.gridContentRow {
   
    color: white;
    height: 50px;
    display: grid;
    grid-template-columns: 300px;
    grid-auto-columns: minmax(150px, 1fr);

}

.gridContentRow:nth-child(even) {
    border-bottom: 3px solid rgb(111 232 115 / 5%);
    border-left: 0;
    background: rgb(62 62 62 / 90%);
}

.gridHeaderColumn {
    grid-row: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 600;
}

.gridHeaderColumn:last-child {
    border-bottom: 0;
}

.gridContentColumn:nth-last-of-type(1) {
    display: flex;
    justify-self: end;
}

.gridContentColumn {
    grid-row: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
  
}

.gridContentColumn .lwmButton {
   padding: 10px;
}