.gridContent {
    padding: 5px 5px 5px 0px;
    border-bottom: 0px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow: auto;
}

.gridContentHeader {
    display: grid; 
    grid-template-columns: 300px;
    grid-auto-columns: minmax(150px, 1fr);
    border-bottom: 5px solid lightblue;
}

.gridContentRow {
    background: rgba(255 255 255 / 95%);
    height: 50px;
    display: grid;
    grid-template-columns: 300px;
    grid-auto-columns: minmax(150px, 1fr);
    border-radius: 3px;

}

.gridHeaderColumn {
    grid-row: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gridContentColumn:nth-last-of-type(1) {
    display: flex;
    justify-self: end;
}

.gridContentColumn {
    grid-row: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.gridContentColumn .lwmButton {
   padding: 10px;
}