.scheduleContainer {
    display: grid;
    gap: 10px;
    width: 100%;
}

.scheduleWeekContainer {
    overflow: scroll;
    display: grid;
    grid-template-columns:  80px repeat(7, 1fr);
    grid-template-rows: repeat(23, 60px);
}

.scheduleWeekHeader {
    display: grid;
    grid-template-columns: 60px repeat(7, 1fr);
}

.scheduleWeekSelection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px rgb(247 242 242 / 20%);
    border-right: solid 1px rgb(247 242 242 / 20%);
}

.cell:hover {
    background: rgba(247 242 242 / 50%);
    cursor: pointer;
}

.scheduleWeekDay {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.scheduleWeekHour {
    grid-column: 1;
}

.schedule {
    border-radius: 5px;
    justify-items: center;
    background: #646cff;
    color: black;
    margin-right: 5px;
}

.schedule:hover {
    border: 2px solid black !important;
    cursor: pointer;
}
