.groupWizardContainer {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.groupWizardContainer > div {
    padding: 10px;
    height: auto;
}

.groupWizardFooter {
    display: flex;
    justify-self: end;
    gap: 10px;
}

.groupWizardBody {
    display: flex;
    flex-direction: column;
    gap: 30px;
}