.personWizardContainer {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personWizardContainer > div {
    padding: 10px;
    height: auto;
}

.personWizardFooter {
    display: flex;
    justify-self: end;
    gap: 10px;
}

.personWizardBody {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
