.formFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.formField {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: end;
    padding-bottom: 10px;
}

.formField label {
    font-size: 18px;
   
}

.formFieldInput > input,
.formFieldInput > select {
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgba(247 242 242 / 10%);
}

.formFieldInput > select {
    width: 215px;
}

.invalid-input {
    border: red 1px solid !important;
}