.lwmButton,
.lwmButton-selected {
    cursor: default;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(247 242 242 / 10%);
}

.lwmButtonAdd {
    color: green;
}

.lwmButtonDelete {
    color: red;
}

.lwmButton img,
.lwmButton-selected img {
    width: 30px;
}

.lwmButton-selected {
    border-bottom: 2px solid green;
    color: green;
}

.lwmButton:hover {
    border-bottom: 2px solid green;
    cursor: pointer;
}