.lwmButton, 
.lwmButton-selected {
    cursor: default;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 10px 0;
    font-size: 15px;
    border-radius: 50px;
    gap: 5px;
}

.lwmButton img,
.lwmButton-selected img {
    width: 40px;
}

.lwmButton-selected {
    background:  rgb(153 207 148 / 15%);
}

.lwmButton:hover { 
    color: rgb(153, 207, 148); 
}