.lwmButton {
    text-align: center;
    cursor: default;
    display: flex;
    flex-direction: column;

    padding: 10px 0 10px 0;
}

.lwmButton-selected {
    text-align: center;
    cursor: default;

    background: rgb(35 168 64 / 10%);
    padding: 10px 0 10px 0;
}

.lwmButton:hover { 
    color: rgb(173 216 230 ); 
}